<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

    

    <div id="app" class="container">

        <aside class="sidebar">
            <section class="user p-10">
                <div class="user-left">
                    <img :src="'./img/avatar' + user.avatar + '.jpg'"
                         :alt="user.name"   > 
                    <span> {{user.name}} </span>
                </div>

                <div class="user-right">
                    <span><i class="fas fa-circle-notch"></i></span>
                    <span><i class="fas fa-comment-alt"></i></span>
                    <span><i class="fas fa-ellipsis-v"></i></span>

                </div>
                
            </section>
            <section class="notifications p-10">
                <div class="notifications-left">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div class="notifications-right">
                    <div>Ricevi notifiche di nuovi messaggi</div>
                    <div><small>Attiva notifiche desktop</small></div>
                </div>

            </section>
            <section class="search p-10">
                    <i class="fas fa-search"></i>
                    <input type="text"
                           @keyup="selectContact"
                           placeholder="cerca o inizia una nuova chat"/>
            </section>
            <section class="contacts p-10">

                <div 
                v-for="(contact, index) in contacts"
                 :class="['contact', index === indexContact ? 'active' : ' ']"
                 @click="setContact(index)">
                    <div  class="user-contact">
                        <img
                        class="avatar"
                         :src="'./img/avatar' + contact.avatar + '.jpg'" alt="contact.avatar">
                    </div>
                    <div class="info">
                        <span>{{contact.name}}</span>
                       
                    </div>
                </div>

              

               

            </section>
        </aside>

        <main class="main">
            <section class="header-cont p-10">
                <div class="header-cont-left">

                    <img :src="'./img/avatar' + contacts[indexContact].avatar  + '.jpg'" alt="">

                    <div class="active-user">
                        <div> {{contacts[indexContact].name}} </div>
                        <div><small>{{ methods }}</small></div>
                    </div>
                    
                </div>

                <div class="header-cont-right">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <span><i class="fas fa-ellipsis-v"></i></span>


                </div>
            </section>
            <section class="main-cont">

                <div v-for="message in contacts[indexContact].messages"  class="messages">

                    <div v-if="message.status === 'sent'" class="sent">
                        <div class="text">{{message.message}}
                            
                        </div>
                        <div class="date">{{message.date}}</div>
                        
                        
                    </div>

                    <div v-else class="received">
                        <div class="text">{{message.message}}</div>
                        <div class="date">{{message.date}}</div>
                    </div>
                   

                </div>

                    

            </section>
            <section class="footer-cont p-10">
                <div class="smile"><i class="far fa-smile"></i></div>
                <div class="message"><input type="text" placeholder="scrivi un messaggio" v-model="newMessage" @keyup.enter="addNewMessage" ></div>
                <div class="audio-mic"><i class="fas fa-microphone"></i></div>
            </section>
        </main>

        

        

    </div>
    
   <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.6/dayjs.min.js"></script> 
    <script src="./javascript/main.js"></script>
</body>
</html>